<div id= "comment_form_partial">
  <html>
    <body>
      <div class="container">
        <%= form_for @comment ,url: action_url , method: action_method , remote: true do |f| %>
          <div class="form-group">
            <div class="field">
              <h4>Add comment</h4>
              <br/>
              <%= f.text_field :comment_text, autofocus: true,required: true %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Post" %>
          </div>
        <%end%>
      </div>
    </body>
  </html>
</div>
