<html>
  <head>
    <style>
      body{margin-top:20px;}

      .comment-wrapper .panel-body {
        max-height:650px;
        overflow:auto;
      }

      .comment-wrapper .media-list .media img {
        width:64px;
        height:64px;
        border:2px solid #e5e7e8;
      }

      .comment-wrapper .media-list .media {
        border-bottom:1px dashed #efefef;
        margin-bottom:25px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= form_for @comment ,url:comment_path(@comment)  , method: "put" , remote: true do |f| %>
        <div class="form-group">
          <div class="field">
            <h4>Add comment</h4>
            <br/>
            <%= f.text_field :comment_text, autofocus: true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Update" %>
        </div>
        <br>
   <br>
   <br>
   <br>
        <%= link_to "Back", :back %>
      <%end%>
    </div>
  </body>
</html>
