<html>
  <head>
  </head>
  <body>
    <div class="container">
      <%= form_for @comment ,url:comment_path(@comment)  , method: "put" , remote: true do |f| %>
        <div class="form-group">
          <div class="field">
            <h4>Add comment</h4>
            <br/>
            <%= f.text_field :comment_text, autofocus: true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Update" %>
        </div>
        <br>
        <br>
        <br>
        <br>
        <%= link_to "Back", :back %>
      <%end%>
    </div>
  </body>
</html>
