<div id="coupon-div">
  <div class="d-flex justify-content-between">
    <h6 class="font-weight-medium">Discount :</h6>
    <% if @coupon %>
      <h6 class="font-weight-medium"><%= (@coupon.discount * 100).to_i%> %</h6>
    <% else%>
      <h6 class="font-weight-medium">    ------</h6>
    <% end %>
  </div>
  <div class="d-flex justify-content-between">
    <h6 class="font-weight-medium">Coupon :</h6>
    <% if @coupon %>
      <h6 class="font-weight-medium"><%= @coupon.code%></h6>
    <% else%>
      <h6 class="font-weight-medium">    ------</h6>
    <% end %>
  </div>
</div>
